%html
  %title Validador de CNPJ
  %body{:style => center}
    %h1 Digite o CNPJ
    %p{:style => "color:red"} CNPJ Inválido!
    %br  
    %form(method="post" enctype='multipart/form-data' action="/valida")
      %input(type='text' name='cnpj')    
      %br
      %input(type='submit' value='Valida!')
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', UA-20333796-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })(); 
